<ion-view title="Profile" style="" ng-init="load()">

  <ion-content padding="true" class="has-header">
   
   
   	
     
   	<div class="list card" ng-repeat="post in postList">

      <div class="item item-avatar">
    <img ng-src="{{post.profile}}">
    <h2 class="postUser">{{post.user}}</h2>
    <p class="postDate">{{post.date}}</p>
  </div>


    
  <div class="item item-image">
    <img class="postImg" ng-src="{{post.photo}}">
  </div>

  	 <p class="postTitle">{{post.title}}</p>
	  

	</div>

   
   
  </ion-content>
</ion-view>