<ion-view title="Settings" style="">
  <ion-content padding="true" class="has-header">
  
  <ul class="list">
    <li class="item">

     <i class="ion-edit" ng-click="editPopup(1)"> </i> 
     <p ng-bind="username" name="username" class="prof2"></p> 
     <b><p class="prof1">Username: </p></b>
      

    </li>
    <li class="item">
      <i class="ion-edit" ng-click="editPopup(2)"> </i> 
     <p ng-bind="email" name="email" class="prof2"></p> 
     <b><p class="prof1">Email: </p></b>

    </li>
</ul>

  </ion-content>
</ion-view>